*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
   

}
.card{
    padding: 15px 30px;
    width: 350px;
    height: 150px;
    margin: 400px 630px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}   
h1{
    text-align: center;
}
.card div{
    text-align: center;
   
}
button{
padding: 6px 10px;
font-size: 13px;
font-weight: 600;
}
#displayValue{
    padding: 5px 10px;
    border: 1px solid black;
    font-size:large;
}
